.main {
    display: flex;
    margin: 10% auto;
    border-radius: 25px;
    padding: 10px;
    background: #529650;
    flex-wrap: wrap;
    width: 540px;
    gap: 20px;
}


.box {
    width: 120px;
    height: 120px;
    background-color: #161616;
    border-radius: 50px;
}

.img {
    cursor: url('../img/pngwing.com.png'), pointer;
}
